<form action="/store" method="POST" enctype="multipart/form-data">
    <h3>Upload Profile Photo</h3>
    <input type="file" name="sampleFile" accept="image/*" />
    <input type="submit" class="btn btn-primary">

</form>

<div class="card">
    <img src="/img/default.jpg" alt="User" class="card_image">
</div>