<form action="/store" method="POST" enctype="multipart/form-data">
    <h3>Upload Profile Photo</h3>
    <input type="file" name="sampleFile" accept="image/*" />
    <input type="submit" class="btn btn-primary">

</form>

<div class="card">
    <img src="/img/default.jpg" alt="User Profile" class="card__image" / >
    <h1 class="card__title">Raddy</h1>
    <div class="card__job">Web Developer</div>
    <p class="card__about">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error vero quaerat, odio fugit ex,
        similique placeat accusamus consequuntur quisquam ipsum optio quos veniam ut. Placeat maiores quaerat pariatur
        voluptates cupiditate.</p>
    <button type="button" class="btn btn-primary">View Profile</button>
</div>